.user-list--container {
  .user-item--header {
    padding: 1rem;
    background-color: $color-black;
    color: $color-white;
    font-weight: bold;
  }

  li {
    border-bottom: 1px solid $color-main;

    &:last-child {
      border-bottom: none;
    }

    .user-list__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-list__avatar {
        width: 4rem;
        height: 4rem;
        background-size: cover;
      }

      .user-list__name {
        flex-grow: 1;
        margin-left: 1rem;
        font-weight: bold;
      }

      .user-list__bookmark {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        background-image: url("https://i.ibb.co/5Y05vgh/star-off.png");
        background-size: cover;
        cursor: pointer;
      }

      .user-list__bookmark.on-star {
        background-image: url("https://i.ibb.co/DGjmcYN/star-on.png");
      }
    }
  }
}
